{% extends "admin/layout.njk" %}

{% block content %}

    <form action="/admin/chefs" method="POST" enctype="multipart/form-data">
        <div class="actionHeader">
            <h2>Criando chef</h2>
            <button type="submit">Salvar chef</a>
        </div>

        {% include "admin/chefs/fields.njk" %}
    </form>

    <script src="/scripts.js"></script>
{% endblock %}