<div class="formItem">
    <h5>Nome</h5>
    <input 
        type="text" 
        name="name" 
        placeholder="Ex.: Silvio Henrique" 
        value="{{ chef.name }}"
        required
    >
</div>

<div class="formItem">
    <h5>Avatar</h5>
    <input 
        type="text" 
        name="image" 
        placeholder="http://" 
        value="{{ chef.avatar_url }}"
        required
    >
</div>