{% extends "admin/layout.njk" %}

{% block content %}

    <section id="topRecipes">

        <h1>Gerenciar receitas</h1>

        <div id="topRecipesGrid" class="admin">

            {% for recipe in recipes %}
                <div class="adminRecipeCard" id="{{loop.index}}">
                    <div class="img" style="background-image: url({{ recipe.image }});"></div>
                    <div class="desc">
                        <h4>{{recipe.title}}</h4>   
                        <p>por {{recipe.author}}</p>
                        <a href="/admin/recipes/{{ loop.index }}">Visualizar</a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    <script src="/scripts.js"></script>
{% endblock %}
   