{% extends "layout.njk" %}

{% block content %}

    <section id="topRecipes">

        {% if search %}
            <h1 class="search">Buscando por "{{ search }}"</h1>
        {% endif %}
        <div id="topRecipesGrid">

            {% if not recipes %}
                <p>Nenhuma receita encontrada</p>
            {% endif %}

            {% for recipe in recipes %}
                <div class="recipeCard" id="{{recipe.id}}">
                    <div class="img" style="background-image: url({{ recipe.image }});"></div>
                    <h4>{{recipe.title}}</h4>
                    <p>{{recipe.author}}</p>
                </div>
            {% endfor %}

        </div>
    </section>

    <script src="/scripts.js"></script>
{% endblock %}
   