@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { margin: 0; padding: 0; border: 0; font-family: Roboto;}

:root {
    --title: #111;
    --desc: #777;
    --alt: #444;
}
html { height: 100%;}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*=== HEADER ===*/

header {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 940px;
}

nav {
    margin-left: 122px;
}

nav a {
    margin-right: 30px;
    text-decoration: none;
    color: var(--title);
}

/*=== BANNER ===*/

.banner {
    padding: 0 60px;
    background: #FBDFDB;
    height: 366px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.banner .description h1 {
    font-size: 32px;
    line-height: 38px;
    color: var(--title)
}

.banner .description p{
    width: 316px;
    line-height: 28px;
    text-align: left;
    font-size: 18px;
    opacity: 0.7;
}

.banner img {
    align-self: flex-end;
}

/*=== SECTION TOP RECIPES ===*/

section#topRecipes h1 {
    font-size: 24px;
    color: var(--title);
}

section#topRecipes div#topRecipesGrid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/*=== RECIPE CARD ===*/

.recipeCard {
    width: 300px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border-radius: 15px;
}

.recipeCard:hover {
    transform: scale(1.1);
}

.recipeCard img {
    width: 100%;
    border-radius: 15px;
}

.recipeCard h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 21px;
    color: var(--title)
}

.recipeCard p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: var(--desc)
}

/*=== FOOTER ===*/

footer {
    margin-top: 50px;
    background: #eee;
    width: 100%;
    text-align: center;
    padding: 23px 0;
    justify-self: flex-end;
}

footer p {
    font-size: 14px;
    color: #999;
}

/*=== ABOUT ===*/

.about {
    padding-top: 20px;
}

.about h1 {
    color: var(--title);
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    color: var(--alt);
    line-height: 28px;
    margin-bottom: 30px;
}

/*=== RECIPE INFO ===*/

.recipeInfo {
    width: 940px;
    text-align: center;
}

.recipeImg {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.recipeInfo h4 {
    margin-top: 50px;
    font-size: 36px;
    line-height: 42px;
    color: var(--title)
}

.recipeInfo p {
    margin-top: 4px;
    font-size: 20px;
    line-height: 24px;
    color: var(--desc)
}

.recipeContent {
    margin-top: 50px;
    text-align: left;
}

.recipeContent h2 {
    font-size: 24px;
    color: var(--title);
}

.recipeContent span {
    font-size: 12px;
    margin-left: 8px;
    color: #999;
    cursor: pointer;
}

.recipeContent .description {
    height: 5px;
    margin-top: 20px;
    list-style-position: inside;
    color: var(--alt);
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    opacity: 0;
    visibility: hidden;
}

.recipeContent .description.active {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: all ease-in-out 0.3s;
}


/*=== ADMIN ===*/

header.admin {
    background-color: black;
    width: 100%;
    height: 80px;
    margin: 0;
    margin-bottom: 30px;
}

.headerContainer {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section#topRecipes div#topRecipesGrid.admin {
    margin-top: 30px;
}