<div class="formItem">
    <h5>Imagem da receita</h5>
    <input 
        type="text" 
        name="image" 
        placeholder="http://" 
        value="{{ recipe.image }}"
        required
    >
</div>

<div class="formItem">
    <h5>Título da receita</h5>
    <input 
        type="text" 
        name="title" 
        placeholder="Ex.: Bolo de cenoura" 
        value="{{ recipe.title }}"
        required
    >
</div>

<div class="formItem">
    <h5>Autor</h5>
    <input 
        type="text" 
        name="author" 
        placeholder="Ex.: Silvio Henrique" 
        value="{{ recipe.author }}"
        required
    >
</div>

<div class="formItem">
    <h5>Ingredientes</h5>
    <div id="ingredients">

            {% if not recipe %}
            <div class="ingredient">
                <input type="text" name="ingredients[]" placeholder="Ex.: 1 xícara de farinha" required>
            </div>
            {% endif %}

            {% for ingredient in recipe.ingredients %}
            <div class="ingredient">
                <input 
                    type="text" 
                    name="ingredients[]"
                    value="{{ ingredient }}"
                    required
                >
            </div>
            {% endfor %}

    </div>
    <button type="button" class="add-input" name="ingredient">Adicionar novo ingrediente</button>
</div>

<div class="formItem">
    <h5>Modo de preparo</h5>
    <div id="steps">

            {% if not recipe %}
            <div class="step">
                <input type="text" name="steps[]" placeholder="Ex.: Colocar no forno por 40 minutos" required>
            </div>
            {% endif %}

            {% for step in recipe.steps %}
            <div class="step">
                <input 
                    type="text" 
                    name="steps[]"
                    value="{{ step }}"
                    required
                >
            </div>
            {% endfor %}

    </div>
    <button type="button" class="add-input" name="step">Adicionar novo passo</button>
</div>

<div class="formItem">
    <h5>Informações adicionais</h5>
    <textarea type="text" name="information">{{ recipe.information }}</textarea>
</div>