{% extends "admin/layout.njk" %}

{% block content %}

    <div class="recipeInfo">
        
        <div class="actionHeader">
            <h2>Receita: {{ recipe.title }}</h2>
            <a href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
        </div>

        <div class="gallery">
            <div class="highlight">
                <img src="{{images[0].src}}" alt="{{images[0].name}}">
            </div>
            
            <div class="gallery-preview">
                {% for image in images %}
                    <img 
                        src="{{image.src}}" 
                        alt="{{image.name}}"
                        {% if loop.index0 == 0 %}
                        class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"
                        style="grid-column-start: {{images.length - loop.index + 1}}"
                    >
                {% endfor %}
            </div>
        </div>
        
        <h4>{{ recipe.title }}</h4>
        <p>por {{ recipe.author }}</p>

        <div class="recipeContent">

            <div id="ingredients">
                <h2>Ingredientes</h2>
                <div class="description active">
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ingredient}};</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="preparationMode">
                <h2>Modo de preparo</h2>
                <div class="description active">
                    {% for step in recipe.preparation %}
                        <p>{{ step }}</p>
                    {% endfor %}
                </div>
            </div>

            <div id="extraInfo">
                <h2>Informações adicionais </h2>
                <div class="description active">
                    <p>{{recipe.information}}</p>
                </div>
            </div>

        </div>
        
    </div>

    <script src="/scripts.js"></script>

{% endblock %}