{% extends "layout.njk" %}

{% block content %}

    <div class="banner">
        <div class="description">
            <h1>As melhores receitas</h1><br>
            <p>Aprenda a construir os melhores pratos com receiras criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="Chef Image">
    </div>

    <section id="topRecipes">
        <h1>Mais Acessadas</h1>
        <div id="topRecipesGrid">

            <div class="recipeCard">
                <img src="/assets/burger.png" alt="">
                <h4>Triplo bacon burger</h4>
                <p>por Jorge Relato</p>
            </div>

            <div class="recipeCard">
                <img src="/assets/pizza.png" alt="">
                <h4>Pizza 4 estações</h4>
                <p>por Fabiana Melo</p>
            </div>

            <div class="recipeCard">
                <img src="/assets/espaguete.png" alt="">
                <h4>Espaguete ao alho</h4>
                <p>por Júlia Kinoto</p>
            </div>

            <div class="recipeCard">
                <img src="/assets/lasanha.png" alt="">
                <h4>Lasanha mac n' cheese</h4>
                <p>por Juliano Vieira</p>
            </div>
            
            <div class="recipeCard">
                <img src="/assets/doce.png" alt="">
                <h4>Docinhos pão-do-céu</h4>
                <p>por Ricardo Golvea</p>
            </div>

            <div class="recipeCard">
                <img src="/assets/asinhas.png" alt="">
                <h4>Asinhas de frango ao barbecue</h4>
                <p>por Vania Steroski</p>
            </div>

        </div>
    </section>

{% endblock %}